<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.inquiry.dao.AnswerMapper">

	<select id="selectAnswerByInquiryId" parameterType="int" resultType="com.shoppingmall.inquiry.model.Answer">
		SELECT
			`id`
			,`inquiryId`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`answer`
		WHERE
			`inquiryId` = #{inquiryId}
	</select>
	
	<update id="updateAnswer" parameterType="map">
		UPDATE `answer`
		SET
			`content` = #{content}
		WHERE
			`id` = #{answerId}
	</update>
	
	<insert id="inserAnswer" parameterType="map">
		INSERT INTO `answer`
		(
			`inquiryId`
			,`content`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{inquiryId}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>

</mapper>