<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.basket.dao.BasketProductMapper">

	<select id="selectBasketProductByBasketId" parameterType="map" resultType="com.shoppingmall.basket.model.BasketProduct">
		SELECT
			`id`
			,`userId`
			,`basketId`
			,`productId`
			,`optionId`
			,`count`
			,`createdAt`
			,`updatedAt`
		FROM 
			`basketproduct`
		WHERE
			`basketId` = #{basketId}
			AND 
			`productId` = #{productId}
			AND
			`optionId` = #{optionId}
	</select>
	
	<insert id="insertBasketProduct" parameterType="map">
		INSERT INTO `basketproduct`
		(
			`userId`
			,`basketId`
			,`productId`
			,`optionId`
			,`count`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{basketId}
			, #{productId}
			, #{optionId}
			, #{count}
			, NOW()
			, NOW()
		)
	</insert>

	<update id="updateBasketProduct" parameterType="map">
		UPDATE `basketproduct`
		SET
			`count` = #{count}
		WHERE
			`id` = #{basketProductId}
	</update>
	
	<select id="selectBasketListByBasketId" parameterType="int" resultType="com.shoppingmall.basket.model.BasketProduct">
		SELECT
			`id`
			,`userId`
			,`basketId`
			,`productId`
			,`optionId`
			,`count`
			,`createdAt`
			,`updatedAt`
		FROM 
			`basketproduct`
		WHERE
			`basketId` = #{basketId}
	</select>
	
	<delete id="deleteBasketProductByBasketProductId" parameterType="int">
		DELETE
		FROM
			`basketproduct`
		WHERE
			`id` = #{basketProductId}
	</delete>
	
	<select id="selectBasketProductByBasketProductId" parameterType="int" resultType="com.shoppingmall.basket.model.BasketProduct">
		SELECT
			`id`
			,`userId`
			,`basketId`
			,`productId`
			,`optionId`
			,`count`
			,`createdAt`
			,`updatedAt`
		FROM 
			`basketproduct`
		WHERE
			`id` = #{basketProductId}
	</select>

</mapper>