<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.basket.dao.BasketMapper">
	
	<insert id="insertBasket" parameterType="int">
		INSERT INTO `basket`
		(
			`userId`
			,`totalPrice`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, 0
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectBasketByUserId" parameterType="int" resultType="com.shoppingmall.basket.model.Basket">
		SELECT
			`id`
			,`userId`
			,`totalPrice`
			,`createdAt`
			,`updatedAt`
		FROM 
			`basket`
		WHERE
			`userId` = #{userId}
	</select>
	
	<update id="updateTotalPrice" parameterType="map">
		UPDATE `basket`
		SET
			`totalPrice` = #{totalPrice}
		WHERE
			`id` = #{basketId}
	</update>
	
	<select id="selectBasketByBasketId" parameterType="int" resultType="com.shoppingmall.basket.model.Basket">
		SELECT
			`id`
			,`userId`
			,`totalPrice`
			,`createdAt`
			,`updatedAt`
		FROM 
			`basket`
		WHERE
			`id` = #{basketId}
	</select>
	
</mapper>