<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.order.dao.OrderMapper">

	<insert id="insertOrder" parameterType="com.shoppingmall.order.model.Order" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `order`
		(
			`userId`
			,`addressId`
			,`orderRequest`
			,`payType`
			,`totalPay`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{addressId}
			, #{orderRequest}
			, #{payType}
			, #{totalPay}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectNewestOrderListByUserId" parameterType="int" resultType="com.shoppingmall.order.model.Order">
		SELECT
			`id`
			,`userId`
			,`addressId`
			,`orderRequest`
			,`payType`
			,`totalPay`
			,`createdAt`
			,`updatedAt`
		FROM
			`order`
		WHERE
			`userId` = #{userId}
			AND
			<![CDATA[
				DATE(`updatedAt`) > DATE(SUBDATE(NOW(), INTERVAL 30 DAY))
			]]>
	</select>
	
	<select id="selectOrderByOrderId" parameterType="int" resultType="com.shoppingmall.order.model.Order">
		SELECT
			`id`
			,`userId`
			,`addressId`
			,`orderRequest`
			,`payType`
			,`totalPay`
			,`createdAt`
			,`updatedAt`
		FROM
			`order`
		WHERE
			`id` = #{orderId}
	</select>

</mapper>