<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.productOption.dao.ProductOptionMapper">

	<insert id="insertProductOption" parameterType="map">
		INSERT INTO `productoption`
		(
			`productId`
			,`color`
			,`size`
			,`stock`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{productId}
			, #{color}
			, #{size}
			, #{stock}
			, NOW()
			, NOW()
		)
	</insert>
	
	<delete id="deleteProductOptionByProductId" parameterType="int">
		DELETE
		FROM 
			`productoption`
		WHERE
			`productId` = #{productId}
	</delete>
	
	<select id="selectProductOptionListByProductId" parameterType="int" resultType="com.shoppingmall.productOption.model.ProductOption">
		SELECT
			`id`
			,`productId`
			,`color`
			,`size`
			,`stock`
			,`createdAt`
			,`updatedAt`
		FROM
			`productoption`
		WHERE
			`productId` = #{productId}
	</select>
	
	<select id="selectProductOptionByProductOptionId" parameterType="int" resultType="com.shoppingmall.productOption.model.ProductOption">
		SELECT
			`id`
			,`productId`
			,`color`
			,`size`
			,`stock`
			,`createdAt`
			,`updatedAt`
		FROM
			`productoption`
		WHERE
			`id` = #{productOptionId}
	</select>
	
	<select id="selectProductOptionByProductId" parameterType="map" resultType="com.shoppingmall.productOption.model.ProductOption">
		SELECT
			`id`
			,`productId`
			,`color`
			,`size`
			,`stock`
			,`createdAt`
			,`updatedAt`
		FROM
			`productoption`
		WHERE
			`productId` = #{productId}
			AND
			`color` = #{color}
			AND
			`size` = #{size}
	</select>
	
	<update id="updateStockByProductOptionId" parameterType="map">
		UPDATE 	`productoption`
		SET
			`stock` = #{stock}
		WHERE
			`id` = #{productOptionId}
	</update>
	
	<delete id="deleteProductOptionByProductOptionId" parameterType="int">
		DELETE
		FROM
			`productoption`
		WHERE
			`id` = #{productOptionId}
	</delete>
	
	<select id="selectColorByProductId" parameterType="int" resultType="String">
		SELECT
			`color`
		FROM
			`productoption`
		WHERE
			`productId` = #{productId}
		GROUP BY `color`
	</select>
	
	<select id="selectSizeByProductIdColor" parameterType="map" resultType="String">
		SELECT
			`size`
		FROM
			`productoption`
		WHERE
			`productId` = #{productId}
		AND
			`color` = #{color}
		GROUP BY `size`
	</select>
	
</mapper>