<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shoppingmall.product.dao.ProductMapper">

	<insert id="insertProduct" parameterType="map" useGeneratedKeys="true" keyProperty="product.id">
		INSERT INTO `product`
		(
			`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{product.name}
			, #{product.information}
			, #{product.price}
			, #{mainImagePath}
			, #{product.detailedInfo}
			, #{product.gender}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectProductList" resultType="com.shoppingmall.product.model.Product">
		SELECT
			`id`
			,`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
	</select>
	
	<select id="selectProductByProductId" parameterType="int" resultType="com.shoppingmall.product.model.Product">
		SELECT
			`id`
			,`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
			`id` = #{productId}
	</select>

	<update id="updateProductByproductId" parameterType="map">
		UPDATE `product`
		SET
			`name` = #{name}
			, `information` = #{information}
			, `price` = #{price}
			<if test="mainImagePath != null">
			, `mainImagePath` = #{mainImagePath}
			</if>
			, `detailedInfo` = #{detailedInfo}
			, `gender` = #{gender}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{productId}
	</update>
	
	<delete id="deleteProductByProductId" parameterType="int">
		DELETE
		FROM
			`product`
		WHERE
			`id` = #{productId}
	</delete>
	
	<select id="selectNewProductList" resultType="com.shoppingmall.product.model.Product">
		SELECT
			`id`
			,`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
		<![CDATA[
			DATE(`createdAt`) > DATE(SUBDATE(NOW(), INTERVAL 10 DAY));
		]]>
		ORDER BY `id` DESC
	</select>
	
	<select id="selectWomanProductList" resultType="com.shoppingmall.product.model.Product">
		SELECT
			`id`
			,`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
			`gender` = 'woman'
		ORDER BY `id` DESC
	</select>
	
	<select id="selectManProductList" resultType="com.shoppingmall.product.model.Product">
		SELECT
			`id`
			,`name`
			,`information`
			,`price`
			,`mainImagePath`
			,`detailedInfo`
			,`gender`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
			`gender` = 'man'
		ORDER BY `id` DESC
	</select>

</mapper>