<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.user.dao.UserMapper">

	<select id="selectUserListById" resultType="com.shoppingmall.user.model.User">
		SELECT
			*
		FROM
			`user`
		WHERE
			`id` = #{id}
	</select>
	
	<select id="selectUserByLoginId" parameterType="String" resultType="com.shoppingmall.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<insert id="insertUser" parameterType="com.shoppingmall.user.model.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{name}
			, #{email}
			, #{phoneNumber}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.shoppingmall.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND
			`password` = #{password}
	</select>
	
	<select id="selectUserByEmail" parameterType="string" resultType="com.shoppingmall.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{email}
	</select>
	
	<select id="selectLoginIdByNameEmail" parameterType="map" resultType="string">
		SELECT
			`loginId`
		FROM
			`user`
		WHERE
			`name` = #{name}
			AND
			`email` = #{email}
	</select>
	
	<select id="selectUserByLoginIdNameEmail" parameterType="map" resultType="com.shoppingmall.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND
			`name` = #{name}
			AND
			`email` = #{email}
	</select>
	
	<update id="updateUserPassword" parameterType="map">
		UPDATE `user`
		SET `password` = #{password}
		WHERE `id` = #{userId}
	</update>
	
	<update id="updateLoginIdByUserId" parameterType="map">
		UPDATE `user`
		SET `loginId` = #{loginId}
		WHERE `id` = #{userId}
	</update>
	
	<update id="updateNamerByUserId" parameterType="map">
		UPDATE `user`
		SET `name` = #{name}
		WHERE `id` = #{userId}
	</update>
	
	<update id="updateEmailByUserId" parameterType="map">
		UPDATE `user`
		SET `email` = #{email}
		WHERE `id` = #{userId}
	</update>
	
	<update id="updatePhoneNumber" parameterType="map">
		UPDATE `user`
		SET `phoneNumber` = #{phoneNumber}
		WHERE `id` = #{userId}
	</update>
	
	<update id="updatePWByUserId" parameterType="map">
		UPDATE `user`
		SET `password` = #{password}
		WHERE `id` = #{userId}
	</update>
	
	<select id="selectUserByUserId" parameterType="int" resultType="com.shoppingmall.user.model.User">
		SELECT
			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`phoneNumber`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
	</select>

</mapper>