@charset "UTF-8";
/*
font-family: 'NanumSquareLight';
font-family: 'NanumSquare';
font-family: 'NanumSquareBold';
font-family: 'NanumSquareExtraBold';
*/
.header {
	height: 50px;
}

footer {
	height: 180px;
}

.contents {
	min-height: 200px;
}

:root {
	--black: #000000;
	--white: #ffffff;
	--gray: #efefef;
	--gray-2: #757575;
	--facebook-color: rgb(0, 82, 155);
	--google-color: #DB4437;
	--twitter-color: #1DA1F2;
	--insta-color: #E1306C;
}

/*
header
*/
.main-logo a {
	font-family: 'NanumSquareExtraBold';
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}
.main-logo a:hover {
	font-family: 'NanumSquareExtraBold';
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}
.main-nav a {
	font-family: 'NanumSquareBold';
	font-size: 0.9rem;
	text-decoration: none;
	color: black;
}
.main-nav a:hover {
	font-family: 'NanumSquareBold';
	font-size: 0.9rem;
	text-decoration: none;
	color: black;
}
.log-in a {
	font-family: 'NanumSquareBold';
	text-decoration: none;
	color: black;
	font-size: 0.9rem;
}
.log-in a:hover {
	font-family: 'NanumSquareBold';
	text-decoration: none;
	color: black;
	font-size: 0.9rem;
}
.sign-up-btn {
	font-family: 'NanumSquareBold';
	cursor: pointer;
	width: 100%;
	padding: .4rem 1.3rem;
	border-radius: .4rem;
	border: none;
	background-color: black;
	color: white;
	font-size: 0.9rem;
	outline: none;
}
.sign-up-btn:hover {
	font-family: 'NanumSquareBold';
	cursor: pointer;
	width: 100%;
	padding: .4rem 1.3rem;
	border-radius: .4rem;
	border: none;
	background-color: black;
	color: white;
	font-size: 0.9rem;
	outline: none;
}
/*
footer
*/
.footer {
	height: 100%
}
.footer hr {
	width: 80%;
	background: black;
}
.footer-logo {
	font-family: 'NanumSquareExtraBold';
	font-size: 1.3rem;
}
.footer-copyright {
	font-family: 'NanumSquareBold';
	font-size: .8rem;
}
/*
main
*/
.main-view img {
	height: 100%;
	width: 100%;
}
/*
로그인
*/
.sign-box {
	padding: 60px;
}
.sign-box hr {
	width: 25%;
}
.sign-text {
	font-family: 'NanumSquareBold';
	font-size: 1.2rem;
}
.sign-div input {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	width: 25%;
	padding: 0.7rem 1rem;
	background-color: var(--gray);
	border-radius: .5rem;
	border: 0.125rem solid var(--white);
	outline: none;
}
.sign-btn {
	font-family: 'NanumSquareBold';
	font-size: 1rem;
	cursor: pointer;
	width: 25%;
	padding: .6rem;
	border-radius: .5rem;
	border: none;
	background-color: black;
	color: var(--white);
	font-size: 0.8rem;
	outline: none;
}
.find-id-pw {
	width: 25%;
}
.find-id-pw a {
	font-family: 'NanumSquareBold';
	font-size: .8rem;
	color: black;
}
.find-id-pw a:hover {
	font-family: 'NanumSquareBold';
	font-size: .8rem;
	color: black;
}
/*
MY TREND
*/
.content {
	margin: 60px;
	margin-left: 120px;
}
.mytrend-nav {
	margin: 60px;
	margin-left: 50px;
}
.mytrend-nav a {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	color: black;
}
.mytrend-nav a:hover {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	color: black;
}
.mytrned-logo {
	font-family: 'NanumSquareExtraBold';
	font-size: 1.1rem;
	color: black;
}
.mytrend-font {
	font-family: 'NanumSquareBold';
	font-size: 1rem;
	color: black;
}
.mytrend-font2 {
	font-family: 'NanumSquare';
	font-size: 1rem;
	color: black;
}
.mytrend-input input {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	padding: 0.6rem 1rem;
	background-color: var(--gray);
	border-radius: .5rem;
	border: solid var(--white);
	outline: none;
}
.mytrend-btn {
	font-family: 'NanumSquareBold';
	cursor: pointer;
	width: 100%;
	padding: .6rem 1.3rem;
	border-radius: .4rem;
	border: none;
	background-color: black;
	color: white;
	font-size: 0.9rem;
	outline: none;
}
.content a {
	font-family: 'NanumSquareBold';
	text-decoration: none;
	font-size: .9rem;
	color: black;
}
.mytrend-font3 {
	font-family: 'NanumSquare';
	font-size: .9rem;
	color: black;
}
.mytrend-font4 {
	font-family: 'NanumSquare';
	font-size: .8rem;
	color: black;
}
.address-input input {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	width: 280px;
	padding: 0.5rem 1rem;
	background-color: var(--gray);
	border-radius: .5rem;
	border: 0.125rem solid var(--white);
	outline: none;
}
.address-input2 input{
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--gray);
	border-radius: .5rem;
	border: 0.125rem solid var(--white);
	outline: none;
}
#sample6_postcode {
	font-family: 'NanumSquareBold';
	font-size: .9rem;
	width: 75%;
	padding: 0.5rem 1rem;
	background-color: var(--gray);
	border-radius: .5rem;
	border: 0.125rem solid var(--white);
	outline: none;
}
#findAddressBtn {
	font-family: 'NanumSquareBold';
	cursor: pointer;
	height: 35px;
	width: 25%;
	border-radius: .4rem;
	background-color: white;
	color: black;
	font-size: 0.8rem;
	outline: none;
}
.address-div {
	width: 700px;
	padding: 1.5rem;
	background-color: #efefef;
	font-family: 'NanumSquareBold';
	font-size: .9rem;
}
.address-btn {
	width: 450px;
	padding: 1.5rem;
	background-color: #efefef;
	font-family: 'NanumSquareBold';
	font-size: .85rem;
}
.address-table{
	width: 100px;
}
.address-data {
	margin-left: 50px;
	font-family: 'NanumSquare';
}
.point-div {
	width: 500px;
	padding: 1rem;
	padding-left: 1.5rem;
	background-color: #efefef;
	font-family: 'NanumSquare';
	font-size: .8rem;
}
/*
제품 LIST
*/
.product-logo {
	font-family: 'NanumSquareBold';
	font-size: 1.5rem;
}
.product-btn {
	border: none;
	background-color: white;
	text-align: left;
}
/*
제품 상세
*/
.product-detail {
	width: 350px;
}
.font1 {
	font-family: 'NanumSquareBold';
	font-size: .95rem;
	color: black;
}
.font2 {
	font-family: 'NanumSquareExtraBold';
	font-size: 1rem;
	color: black;
}
.input-group-text {
	background-color: black;
	color: white;
}
.font3 {
	font-family: 'NanumSquare';
	font-size: 1rem;
	color: white;
}
.font4 {
	font-family: 'NanumSquareExtraBold';
	font-size: 1.2rem;
	color: black;
}
.review-btn2 {
	font-family: 'NanumSquareBold';
	cursor: pointer;
	width: 100%;
	padding: .4rem 1.3rem;
	border-radius: .4rem;
	border: none;
	background-color: #efefef;
	color: black;
	font-size: 0.9rem;
	outline: none;
}
.review {
	background-color: #efefef;
}
.more-btn {
	border: none;
}
/*
장바구니
*/
.basket-div {
	width: 450px;
	background: #efefef;
}
.order-div {
	width: 400px;
}
/*
주문서
*/
.order-div {
	width: 450px;
}
.font5 {
	font-family: 'NanumSquare';
	font-size: 0.9rem;
	color: black;
}
.font6 {
	font-family: 'NanumSquare';
	font-size: 0.8rem;
}
.text-btn {
	background-color: white;
	border: none;
	text-decoration: underline;
}
.text-btn:hover {
	background-color: white;
	border: none;
	text-decoration: none;
}
.point-text {
	font-family: 'NanumSquare';
	font-size: 0.8rem;
	color: red;
}
.address-click {
	border: none;
}
/*
리뷰
*/
.review-btn{
	background-color: white;
	color: black;
	font-family: 'NanumSquareBold';
	font-size: 1rem;
	color: black;
}
.review-div {
	width: 550px;
	min-height: 100px;
	background: #efefef;
}
.review-write-div {
	width: 500px;
}
.review-write-btn {
	border: none;
}